// ***********************************
// 
// MEDIA QUERIES 
// 
// ***********************************


// XL SCREENS - MIN WIDTH 2100PX MAX HEIGHT 2160 =======================

@media (min-width: 2100px) {

	html {
		font-size: 200%;
	}

	.new-stuff {
		.new-additions-copy {
			padding: 10% 10% 30% 10%;
		}
	}
}

// LARGE DESKTOPS - MIN WIDTH 1356   MAX HEIGHT 1024PX ========================

@media (min-width: 1700px) {

	html {
		font-size: 125%;
	}

}

// MEDIUM SCREENS & TABLETS MAX 1100PX =============================

@media (max-width: 1100px) {

	nav.all-pages-nav { 
		background-color: rgba(76, 3, 65,0.7);
		padding: 2rem;
		width: 100%;
	
		ul li {
			margin-left: 0;
			a {
				color: $color-3;

				&:hover {
					background-color: inherit;
					color: $color-4;
				}

			}
		}

		p {
			color: $color-3;
		}

	}

}

// SMALL TABLETS & LARGE PHONES 900PX =====================

@media (max-width: 900px) {
	
	// html {
	// 	font-size: 45%;
	// }

	body {
		flex-direction: column;
		
	}

// NAV - ALL PAGES ==============
	
	.nav-icon {
		color: $color-3;
	}	

	.hamburger,
	.exit-responsive {
		display: block;
		font-size: 2rem;	
	}
	
	.menu  {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: $color-2;
		width: 100%;
		
		ul {
			flex-direction: column;
			text-align: center;
			padding: 0;
			
			li.exit-responsive {
				text-align: right;
				color: $color-3;
			}
			
			li {
				padding: 2rem;
				
			}
		}	
	}

	.menu ul a {
		font-size: 3rem;
		text-align: center;
		width: 100%;
		padding: 4rem;
	}

// HEADER TITLES ===========
	.index-title,
	.blog-title,
	.contact-title {
		h1 {
			padding: 2rem 3rem 2rem 1rem;
			background-color: (rgba(255,255,255,0.6));
		}
	}

// INDEX PAGE =============== 

	header.index-page {
		height: 80vh;
		position: static;

		.title {
			
			h1 {
				width: 100%;
			}
		}
	}
	
	main {
		.float-img-1 {
			display: none;
		}
	}
	
	.under-the-sea {
		padding: 10rem 0;
	}

	.new-stuff {
		padding: 5rem 2rem;
		grid-template-columns: 1fr;
		align-content: center;
		grid-template-areas: 
		"new-additions-img" 
		"new-additions-copy"
		"too-many-options-img"
		"too-many-options-copy";

		.new-additions-img,
		.too-many-options-img  {
			img {
				position: static;
				box-shadow: none;
			}
		}
		.new-additions-copy,
		.too-many-options-copy {
			padding: 2% 3%;
			text-align: left;
		}
	}

	.about {	
		display: flex;
		flex-direction: column;

		a,
		h3 {
			text-align: center;
		}

		.about-copy {
			padding: 2%;
		}
	
	}

	.popular {
		flex-direction: column;
		padding: 6rem 0;
		
		.popular-month-img {
			width: 100%;
			padding: 0;

			img { 
				box-shadow: none;
			}
		}

		.popular-month-copy {
			width: 100%;
			padding-top: 6rem;

			h4,
			a {
				text-align: center;
			}
		}
	}

	.gallery {
		img:nth-child(2) {
        margin: 0;
	}
		.gallery-1 {
			display: none;
		}

		.gallery-3  {
			margin-left: 2rem;
		}
	}

// BLOG ==========================

	header.blog-page {
		background-image: url("./assets/small-screen-blog-header.jpg");
		background-position: right;
		height: 80vh;

		.blog-title {
			padding: 2rem;
			h1 {
				padding: 4rem;

			}
		}
	}

	.blog-main {
		display: flex;
		flex-direction: column;
		align-content: center;
	}

	aside {
		flex-direction: column;
		position: static;
		padding: 6rem 2rem;
		
		.aside-img {
			position: static;
			width: 100%;
			z-index: inherit;
		}

		.aside-content {
			position: static;
			width: 100%;

			.aside-copy {
				padding-top: 0;
			}
		}
	}

	.blog-area {
		position: static;
		padding: 2rem;

		.blog-img {
			position: static;
			padding: 0;

			.blog-post-img {
				box-shadow: none;
			}
		}

		.blog-post {
			padding: 8% 3%;
		}
		
		.comments {
			
			.user-comment-1,
			.user-comment-2 {
				flex-direction: column;
				padding: 2rem;
				width: 100%;
				
				.user-photo {	
					width: 20%;
					margin-top: 0;
				}
				
				.posted-comment-1,
				.posted-comment-2 {
					margin-left: 0;
					width: 100%;
				}
			}
		}
	}

	form.comment-form,
	form.contact-form {
		
		.user-details {
			flex-direction: column;
			
			.name,
			.email {
				width: 100%;
			}
		}

		.text-submit {
			textarea {
				margin-top: 3rem;
			}
		}
	}

// CONTACT PG ===========

	.contact-page {
		
		.title {
			padding: 2rem;

			h1 {
				padding: 4rem;
				text-align: center;
				line-height: 8rem;
			}
		}
	}

	.main-contact {
		display: flex;
		flex-direction: column;
		position: static;
	}

	.contact-form-area {
		position: static;
		box-shadow: none;
	}

	.contact-us {
		padding: 2rem;
		margin-bottom: 5rem;
	}

} 

// SMALL SCREENS/PHONES 500PX   ====================

@media (max-width: 500px) {
	
	html {
		font-size: 45%;
	}
}











