// ***********************************

// MEDIA QUERIES 

// ***********************************


// MAX WIDTH =====================


@media all and (max-width: 850px) {
	.hamburger,
	.exit-responsive {
		display: block;
		font-size: 2rem;
	}

	.menu  {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		// bottom: 0;
		background: $color-2;
		width: 100%;
		
		ul {
		   flex-direction: column;
		   text-align: center;
		   padding: 0;
			
		   li.exit-responsive {
			   text-align: right;
			   color: white;
		   }

		   li {
			 padding: 2rem;
			 
		   }
	    }	
	}

	nav.all-pages-nav ul li {
		margin-left: 0;
		a {
			color: white;
		}
	}

	.menu ul a {
		font-size: 3rem;
		text-align: center;
		width: 100%;
		padding: 4rem;
	}

}